.about {
    &_content {
        display: flex;
        gap: 20px;
        padding-top: 20px;
        width: 100%;
        padding: 20px;

        &_personalWrapper, &_stageCube {
            width: 50%;
        }

        &_personalWrapper {
          
          b {
            color: var(--green-theme-main-color);
          }
            h3 {
                margin-bottom: 10px;
                font-size: 2.5rem;
                font-weight: 700;
                color: var(--green-theme-main-color);
            }

            h3.personalInfoHeaderText {
                padding-top: 20px;
            }

            p {
                color: var(--green-theme-sub-text-color);
                font-size: 1.8rem;
                line-height: 1.65;
                padding-bottom: 20px;
                border-bottom: 1px solid dashed var(--green-theme-main-color);

            }

            ul > li {
                line-height: 1rem;
                list-style: none;
                margin-bottom: 15px;

                span.title, span.value {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    border-bottom: 2px solid var(--green-theme-main-color);
                    position: relative;
                    display: inline-block;
                    margin-right: 16px;
                    padding-bottom: 5px;
                    color: var(--green-theme-sub-text-color)
                }

                span.value {
                    border: none;
                }
            }

            img {
              height: 200px;
              border-radius: 50%;
              margin: 40px 10px 10px 10px;
            }
        }

        .about_content_stageCube {
          width: 700px;
          height: 700px;
          float: right;
          top: 0px;
          padding-top: 200px;
          position: relative;
          right: 0;
          overflow: hidden;
        }
        
        .about_content_stageCube_innerCube {
          animation-name: spincube;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 12s;
          transform-style: preserve-3d;
          transform-origin: 100px 100px 0;
          margin-left: calc(50% - 100px);
        
          div {
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            text-align: center;
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0px lightyellow;
          }
        
          .face1 {
            transform: translateZ(100px);
            color: #dd0031;
          }
          .face2 {
            transform: rotateY(90deg) translateZ(100px);
            color: #f06529;
          }
          .face3 {
            transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
            color: #28a4d9;
          }
          .face4 {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
            color: #5ed4f4;
          }
          .face5 {
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
            color: #efd81d;
          }
          .face6 {
            transform: rotateX(-90deg) translateZ(100px);
            color: #ec4d28;
          }
        }
        
        @keyframes spincube {
          from,
          to {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          }
          16% {
            transform: rotateY(-90deg);
          }
          33% {
            transform: rotateY(-90deg) rotateZ(90deg);
          }
          50% {
            transform: rotateY(-180deg) rotateZ(90deg);
          }
          66% {
            transform: rotateY(-270deg) rotateX(90deg);
          }
          83% {
            transform: rotateX(90deg);
          }
        }
    }
}



  @media only screen and (max-width : 768px) {
    .about_content {
        flex-direction: column;

        &_personalWrapper,
        &_stageCube {
            width: 100%;
        }

        &_stageCube {
          margin: 50px 0px;
          
          &_innerCube {
            width: 250px;
            height: 250px;

          }
        }
    }
  }